VITE_APPWRITE_ENDPOINT="https://cloud.appwrite.io/v1"
VITE_APPWRITE_PROJECT_ID="your_project_id"
VITE_APPWRITE_DATABASE_ID="your_database_id"
VITE_APPWRITE_DONORS_COLLECTION_ID="your_donors_collection_id"
VITE_APPWRITE_REQUESTS_COLLECTION_ID="your_requests_collection_id"
